<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>Template</title>

        <script src="./assets/libraries/jquery-1.9.1.js"></script>
        <script src="./assets/libraries/CSInterface.js"></script>
        <script src="./assets/libraries/Vulcan.js"></script>

<!--        <script src="assets/start.jsx"></script>-->

        <script src="./assets/panelCode/defaultConfig.js"></script>
        <script src="./assets/panelCode/globals.js"></script>
        <script src="./assets/panelCode/uiConfig.js"></script>

        <script src="./assets/panelCode/configHandler.js"></script>

        <!-- The dictionary file is created during the extension build. -->
        <script src="./assets/panelCode/dictionary.js"></script>

        <script src="./assets/start.jsx"></script>
        <script src="./assets/panelCode/ext.js"></script>
        <script src="./assets/panelCode/actions.js"></script>

        <script src="./assets/panelCode/flyoutMenu.js"></script>
        <script src="./assets/panelCode/panel.js"></script>

        <link rel="stylesheet" type="text/css" href="./assets/css/main-styles.css">
        <link rel="stylesheet" id="cssMode" type="text/css" href="./assets/css/styles-light.css">
    </head>
    <body onLoad="onLoaded()">
        <div id="content">
            <div id="app"></div>
            <div id="statusBar"></div>
            <div id="tooltip"></div>
        </div>
    </body>
</html>